<footer>
    <div>
        <a href="https://www.synovahealth.com/" target="_blank">
            <img src="../../assets/imgs/footer-synova-logo.png" alt="">
        </a>
        
        <a href="https://caeplab.com.br/" target="_blank">
            <img src="../../assets/imgs/footer-caep-logo.png" alt="">
        </a>
        
        <a href="https://caeptox.com.br/home" target="_blank">
            <img src="../../assets/imgs/footer-caeptox-logo.png" alt="">
        </a>
    </div>

    <div>
        <a href="https://www.linkedin.com/company/synvia/" target="_blank">
            <img class="icon" src="../../assets/imgs/footer-linkedin-logo.png" alt="">
        </a>

        <a href="https://www.facebook.com/synviagroup" target="_blank">
            <img class="icon" src="../../assets/imgs/footer-facebook-logo.png" alt="">  
        </a>
        
        <a href="https://www.instagram.com/synviagroup/" target="_blank">
            <img class="icon" src="../../assets/imgs/footer-instagram-logo.png" alt="">
        </a>
    </div>
</footer>