<div class="actions">
    <mat-form-field appearance="fill" class="filterInput">
        <mat-label>Filtros</mat-label>
        <mat-select [disabled]="disableSelect.value" class="full-width">
            <mat-option value="option1" [disabled]="favoritesList.length == 0">Favoritos</mat-option>
            <mat-option value="option2">Nome</mat-option>
            <mat-option value="option3">Registro Nacional</mat-option>
        </mat-select>
    </mat-form-field>

    <form class="searchInput">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Procure por um pokemón</mat-label>
            <input [(ngModel)]="inputName" [ngModelOptions]="{standalone: true}" (input)="filterList()" matInput>
        </mat-form-field>
    </form>
</div>
